.Facts{
    background-image: linear-gradient(70deg, rgb(199, 137, 166), rgb(227, 133, 145));
background-repeat: no-repeat;
color:white;
margin-top:-500;
border-radius:2%;
box-shadow: 5px 5px 5px grey;
width: 100%;
height: auto;
z-index: 5;
}